<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    
  </div>

  <div class="container-fluid mt--7">
    <div class="row">
      
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Branch</h3>
              </div>
              
            </div>
          </div>
          <div class="card-body">
            <form *ngIf="branchForm" [formGroup]="branchForm">
              <h6 class="heading-small text-muted mb-4">Branch information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Name</label>
                      <input type="text" id="input-username" formControlName="name"  class="form-control form-control-alternative" placeholder="Name">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-price">Location</label>
                      <input type="text" formControlName="location" id="input-price" class="form-control form-control-alternative" placeholder="Location">
                    </div>
                  </div>
                  
                  <div *ngIf="servicePackages && servicePackages.length > 0 && this.branchForm.get('services')" class="col-lg-{{columnNumber}}">
                    <div class="form-group service-container">
                      <!-- <label class="form-control-label" for="input-username">Select Package</label> -->
                        <!-- <div >{{item.name}}</div> -->
                        <label *ngFor="let item of servicePackages" class="package-checkbox">
                            <input type="checkbox" [checked]="getChecked(item.service_id)" (change)="selectedPackage($event,item)" name="exterior-packages" >
                            <span>{{item.name}}</span>
                        </label>
                    </div>
                  </div>
                </div>

                <!-- <div formGroupName="operating_hours">
                    <div class="row">
                        <h6 class="heading-small text-muted mb-4">Monday</h6>
                        <div class="row col-12">
                            <div formGroupName="monday" class="form-group col-lg-4">
                                <label class="form-control-label" for="input-username">Open Time</label>
                                <input type="text" id="input-username" formControlName="openTime"  class="form-control form-control-alternative" placeholder="Open Time">
                            </div>
                            <div formGroupName="monday" class="form-group col-lg-4">
                                <label class="form-control-label" for="input-username">Close Time</label>
                                <input type="text" id="input-username" formControlName="closeTime"  class="form-control form-control-alternative" placeholder="Close Time">
                            </div>
                        </div>
                    
                    </div>

                    <div class="row">
                        <h6 class="heading-small text-muted mb-4">Monday</h6>
                        <div class="row col-12">
                            <div formGroupName="monday" class="form-group col-lg-4">
                                <label class="form-control-label" for="input-username">Open Time</label>
                                <input type="text" id="input-username" formControlName="openTime"  class="form-control form-control-alternative" placeholder="Open Time">
                            </div>
                            <div formGroupName="monday" class="form-group col-lg-4">
                                <label class="form-control-label" for="input-username">Close Time</label>
                                <input type="text" id="input-username" formControlName="closeTime"  class="form-control form-control-alternative" placeholder="Close Time">
                            </div>
                        </div>
                    
                    </div>
                    
                </div> -->

                <!-- Operating Hours Section -->
                <div *ngIf="branchForm.get('operating_hours')" formGroupName="operating_hours" class="operating-hours">
                    <h3 class="heading-small text-muted mb-4">Operating Hours</h3>
                    
                    <div *ngFor="let day of daysOfWeek" class="day-row">
                    <h6 class="day-heading">{{ day | titlecase }}</h6>
                    
                    <div *ngIf="branchForm.get('operating_hours')?.get(day)" [formGroupName]="day" class="row time-inputs">
                        <div *ngIf="branchForm.get('operating_hours').get(day).get('isOpen').value" class="col-6 form-group">
                        <label class="form-control-label">Open Time</label>
                        <input type="time" formControlName="openTime" class="form-control" 
                                [disabled]="!branchForm.get('operating_hours').get(day).get('isOpen').value">
                        </div>
                        
                        <div *ngIf="branchForm.get('operating_hours').get(day).get('isOpen').value" class="col-6 form-group">
                        <label class="form-control-label">Close Time</label>
                        <input type="time" formControlName="closeTime" class="form-control"
                                [disabled]="!branchForm.get('operating_hours').get(day).get('isOpen').value">
                        </div>
                        
                        <div class="form-group toggle">
                        <label class="switch">
                            <input type="checkbox" formControlName="isOpen">
                            <span class="slider round"></span>
                        </label>
                        <span class="toggle-label">{{ branchForm.get('operating_hours').get(day).get('isOpen').value ? 'Open' : 'Closed' }}</span>
                        </div>
                    </div>
                    </div>
                </div>
              <hr class="my-4" />
              
              <div class="col-4 text-left">
                <button [disabled]="branchForm.invalid" (click)="isEdit ? handleUpdate() : handleCreate()"class="btn w-100 py-3 btn-sm btn-primary">
                  {{isEdit ? 'Update Branch' : 'Create Branch'}}</button>
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  