.payment-status-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #e6f7ec; /* Light green background */
    border: 1px solid #b7e4c7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    max-width: 600px;
    margin: 2rem auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #fdecea; /* Light red/pink background */
    border: 1px solid #f5c2c7; /* Soft red border */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    max-width: 600px;
    margin: 2rem auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.payment-status-container .icon-section i {
    font-size: 80px;
    color: #2e7d32; /* Deep green */
}



.payment-status-container .content-section h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #2e7d32;
}



.payment-status-container .content-section span {
    display: block;
    margin-top: 0.25rem;
    font-size: 1rem;
    color: #4b4b4b;
}


.failedHeader {
    color: #c62828 !important;
}

.fa-times-circle{
    color: #c62828 !important;
}