<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="row">
      <div *ngIf="progressStats" class="row col-lg-12 mb-2 pr-5 pl-5">
        <div *ngFor="let item of progressStatusCardConfig" class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{item.name}}</h5>
                  <span class="h2 font-weight-bold mb-0">{{item.stats}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape {{item.color}} text-white rounded-circle shadow">
                    <i class="{{item.icon}}"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
        </div>
      </div>
    <div class="col-lg-12 text-right  pr-5">
      
      <button (click)="handleCreateBooking()" href="#!" class="btn p-3 btn-sm btn-primary">
        <i class="fas fa-plus-circle mr-2"></i>
        Add Booking</button>
  
    </div>
  
  </div>
  </div>
    
      
    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Car wash Bookings</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Order No.</th>
                    <th scope="col">Package Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Vehicle Name</th>
                    <th scope="col">Color</th>
                    <th scope="col">Number Plate</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created Date</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cardItem of bookings; let i = index">
                    <th scope="row">
                      <div class="media align-items-center">
                
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{cardItem.orderId}}</span>
                        </div>
                      </div>
                    </th>
                    <td>{{cardItem.packageName}}</td>
                    <td>
                        {{cardItem.price | currency: 'R'}}
                    </td>
                    
                    <td>{{cardItem.vehicle}}</td>
                    <td>{{cardItem.color}}</td>
                    <td>{{cardItem.numberPlate}}</td>
                    <td> 
                      

                      <div ngbDropdown placement="bottom-right">
                        
                        <span class="badge badge-dot mr-4" ngbDropdownToggle>
                          <i [class]="getStatusIcon(cardItem.status)"></i> {{cardItem.status}}
                        </span>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          
                          <a *ngFor="let item of getStatus()" class="dropdown-item" (click)="handleChangeStatus(cardItem.bookingId, item, i)" >
                            <!-- <i [class]="getStatusIcon(item)"></i> {{item}} -->
                            <span class="badge badge-dot mr-4">
                              <i [class]="getStatusIcon(item)"></i> {{item}}
                            </span>
                          </a>
                        </div> 
                      </div>
                    </td>
                    <td>
                      {{cardItem?.date ?? 'Today'}}
                    </td>
                   
                   
                    <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" (click)="handleEdit(cardItem.bookingId)">Edit</a>
                          <a class="dropdown-item" (click)="handleDelete(cardItem.bookingId)">Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="javascript:void(0)">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    <ng-template #content let-modal>
      
    </ng-template>